streamlit
python-dotenv
chromadb
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
pypdf
ipykernel
pymupdf
wikipedia
pyowm
faiss-cpu
PyPDF2
sentence-transformers
